* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.+ | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.about-container {
  padding-top: 130px;
  max-width: 425px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .about-container {
    max-width: 775px;
  }
}
html,
body {
  margin: 0 auto;
  height: 100%;
  font-size: 62.5%;
  font-family: arial;
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #090979 35%, #00d4ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: fixed;
  border-bottom: double lightblue 2px;
  padding: 5px;
  background: #cb60b3;
  background: -moz-linear-gradient(-45deg, #cb60b3 0%, #c146a1 50%, #a80077 51%, #9f38e0 100%, #db36a4 100%);
  background: -webkit-linear-gradient(-45deg, #cb60b3 0%, #c146a1 50%, #a80077 51%, #9f38e0 100%, #db36a4 100%);
  background: linear-gradient(135deg, #cb60b3 0%, #c146a1 50%, #a80077 51%, #9f38e0 100%, #db36a4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1);
}
.nav-container {
  border-radius: 8px;
  display: none;
  position: fixed;
  top: 135px;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(129, 131, 245, 0.9);
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
.nav--open {
  display: block;
}
.programmer-open {
  height: 400px;
}
.programmer-open p {
  display: block;
}
h1 {
  display: flex;
  justify-content: center;
  align-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  margin-left: 15px;
  align-items: center;
}
p {
  font-size: 2rem;
  display: none;
}
.frontend-personal {
  width: 100%;
  display: flex;
  background: rgba(232, 234, 238, 0.377);
  margin: 10px;
  border-radius: 10px;
}
.frontend-personal:hover {
  background: rgba(232, 234, 238, 0.9);
}
.frontend-personal:first-child {
  flex-direction: row-reverse;
}
.backend-personal {
  width: 100%;
  display: flex;
  background: rgba(232, 234, 238, 0.377);
  justify-content: space-around;
  margin: 10px;
  border-radius: 10px;
}
.backend-personal:hover {
  background: rgba(232, 234, 238, 0.9);
}
.backend-personal:first-child {
  flex-direction: row-reverse;
}
.webui-personal {
  width: 100%;
  display: flex;
  background: rgba(232, 234, 238, 0.377);
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 10px;
}
.webui-personal:hover {
  background: rgba(232, 234, 238, 0.9);
}
.webui-personal:first-child {
  flex-direction: row-reverse;
}
.android-personal {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background: rgba(232, 234, 238, 0.377);
  justify-content: space-around;
  margin: 10px;
  border-radius: 10px;
}
.android-personal:hover {
  background: rgba(232, 234, 238, 0.9);
}
.team-lead-personal {
  width: 100%;
  display: flex;
  background: rgba(232, 234, 238, 0.377);
  justify-content: space-around;
  margin: 10px;
  border-radius: 10px;
}
.team-lead-personal:hover {
  background: rgba(232, 234, 238, 0.9);
}
.headshot {
  width: 48%;
  height: 35%;
}
@media (min-width: 800px) {
  .headshot {
    padding: 35px;
  }
}
.name {
  align-items: center;
  width: 48%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  font-weight: 700;
}
footer {
  border-top: 1px dotted blue;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1rem;
}
