* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.+ | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: arial;
  background-color: #efeae9;
}
.welcome {
  font-family: 'Dokdo', cursive;
  font-size: 5rem;
  display: flex;
  align-content: center;
}
.container {
  padding-top: 50px;
  background: rgba(44, 157, 166, 0.4);
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
.nav-bar-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background: #9eb1cd;
  padding: 5px;
  border-bottom: 2px double #7c96bc;
}
.nav-button {
  display: flex;
  flex-direction: flex-start;
}
.nav-container {
  border-radius: 8px;
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 40%;
  height: auto;
  border: 1px solid #7c96bc;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
@media (min-width: 800px) {
  nav .hiddenFeatures {
    display: flex;
  }
  header h3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1000px) {
  nav .hiddenAboutUs {
    display: flex;
  }
}
nav a {
  width: 100%;
  margin: 0 auto;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  padding: 20px;
  background-color: #2c9da6;
  color: #efeae9;
  font-weight: bold;
  text-align: center;
}
.nav--open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 800px) {
  nav a {
    font-size: 3rem;
  }
}
.cta-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 70px;
}
.heroic-boy {
  display: none;
  width: 100%;
}
@media (min-width: 800px) {
  .heroic-boy {
    display: flex;
  }
}
@media (min-width: 800px) {
  h1 {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    font-size: 5rem;
  }
}
.landing-photo {
  width: 100%;
}
.content-text {
  font-size: 2rem;
}
ul {
  font-size: 1.5rem;
  list-style-type: circle;
  list-style-position: inside;
}
.getApp-link {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
@media (min-width: 800px) {
  .getApp-link {
    font-size: 1.2rem;
  }
}
.learn-btn {
  width: 85%;
  height: 45px;
  background-color: #c63170;
  color: #efeae9;
  border: 1px solid blue;
  cursor: pointer;
  font-size: 3rem;
  margin: 0 auto;
  display: flex;
  align-content: center;
  padding-top: 4px;
  justify-content: center;
  border-radius: 80px;
}
.learn-btn:hover {
  background-color: #b22c64;
}
.learn-btn:active {
  background-color: #efeae9;
  color: #c63170;
}
.content-with-buttons {
  border-bottom: 4px dotted #2c9da6;
}
.content-with-buttons a {
  text-decoration: none;
}
.content-with-buttons:last-child {
  border-bottom: none;
}
.content-container {
  margin: 15px;
}
.content-container h2 {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 3.2rem;
  text-align: center;
  margin: 10px;
  font-family: 'Dokdo', cursive;
}
footer {
  border-top: 1px dotted blue;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1rem;
  width: 100%;
}
.footercontent {
  width: 100%;
}
.footercontent img {
  width: 100%;
  max-width: 500px;
}
