* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Code Start
@import "reset.less";
@import "variables.less";
@import "buttons.less";
@import "mixins.less";
@import "fontsettings.less";

.about-container {
  padding-top: 150px;
  max-width: 425px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .about-container {
    max-width: 775px;
  }
}

html,
body {
  margin: 0 auto;
  height: 100%;
  font-size: 62.5%;
  font-family: @fontfamily;
  background: @background;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 2px double darken(@tertiary, 10%);
  padding: 5px;
  background: @tertiary;
}

.nav-container {
  border-radius: 8px;
  display: none;
  position: fixed;
  top:75px;
  left: 0;
  width: 40%;
  height: auto;
  background: @primary;
  border: 1px solid #004d40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
nav a {
  width: 100%;
  margin: 0 auto;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  border: 1px black solid;
  padding: 20px;
  background-color: @primary;
  color: @background;
  font-weight: bold;
  text-align: center;
}

.nav--open {
  display: block;
}
.tabs-links {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.tab {
  border: 2px double darken(@tertiary, 10%);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
  background: #9eb1cd60;
  &:hover {
    background: rgba(232, 234, 238, 0.9);
  }
}
@media(min-width: 800px){
  .tab{
    font-size: 2rem;
  }
}
.active-tab {
  background: @highlight;
}

.programmer-open {
  height: auto;
  display: flex;
  flex-direction: column;
  p {
    margin: 0 auto;
    width: 70%;
    display: block;
  }
}
h1 {
  display: flex;
  justify-content: center;
  align-content: space-between;
  font-family: @aboutfont;
  font-size: 4rem;
  margin-left: 15px;
  align-items: center;
}

p {
  font-size: 2rem;
  display: none;
}

.programmer {
  width: 99%;
  display: flex;
  background: #2c9da675;
  justify-content: space-evenly;
  margin: 1%;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background: darken(@primary, 10%);
  }
}
.headshot{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
}
.programmer-open .headshot{
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}
@media (min-width: 800px) {
  .headshot {
    padding: 35px;
  }
}
.name {
  align-items: center;
  width: 45%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  padding: 10px;
  h2{
    margin-left: 35px;
  }
}
img{
  width: 72px;
  height: 72px;
}
footer {
  border-top: 1px dotted @primary;
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1rem;
}
footer img {
  width: 100%;
  max-width:500px;
}
